<h2> <%= @product.name %> </h2>
<p> 
	<% if (user_signed_in?)&&(can? :update, @product) %>

		<%= link_to "Edit",edit_product_path(@product.id) %>
		<%= link_to "Delete",product_path(@product.id), method: :delete, data: {confirm: "Are you sure?"} %>
	<% end %>

</p>

<p>  <%= @product.description %> </p>
<p> INR <%= @product.price %>
	<%= @product.cod_eligible ? "COD Eligible" : "COD not Eligible" %> </p>

<%= image_tag(@product.cover.url, size: "600x315" ) if @product.cover %>

<% if !@product.category.nil? %>
	<%= link_to @product.category.name, category_path(@product.category_id) %> 
<%end%>

<%#= Category.find(@product.category_id).name %>

<%= link_to "list products", products_path %>

<h2> Add to Cart </h2>
<% if user_signed_in? %>
	<%= form_for CartLineItem.new do |f| %>
		<label>Quantity : </label>
		<%= f.select :quantity, (1..10).to_a %> <br/>
		<%= f.hidden_field :product_id, value: @product.id %>
		<%= f.submit "Add" %>
	<%end%>
<% else %>
	<p> You need to sign in before adding products to your cart </p>
<% end %>


<% if @product.reviews.empty? %>
	<p>No reviews found. Be the first one to review.</p>
<% else %>
	<h3>Listing Reviews</h3>
	<ol>
		<% @product.reviews.each do |review| %>
			<li>
				<%= review.body %> - 
				(<%= review.rating %>) -
				<%=User.find(review.user_id).username %>

				<% if (user_signed_in?) &&(can? :update, review) %>
				
					-<%= link_to "destroy", review_path(review.id), method: :delete, data: { confirm: "Are you sure you want to delete this review"} %>
				<%end%>
			</li>
		<% end %>
	</ol>
<% end %>


<h3>Add your review </h3>
<%= form_for @review do |f| %>

	<label for="review_body"> Body </label> <br/>
	<%= f.text_area :body %> <br/>

	<%= f.hidden_field :product_id, value: @product.id %> 

	<br/>
	<label> Rating </label> <br/>
	<%= f.radio_button :rating, 1 %> 1 
	<%= f.radio_button :rating, 2 %> 2 
	<%= f.radio_button :rating, 3 %> 3 
	<%= f.radio_button :rating, 4 %> 4
	<%= f.radio_button :rating, 5 %> 5  <br/>
	<%= f.submit "Add Review" %> 
<% end %>