<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
      <script src="/javascripts/jquery.growl.js" type="text/javascript"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="/javascripts/chosen.jquery.js" type="text/javascript"></script>
      <script src="/javascripts/bootstrap.js" type="text/javascript"></script>
      <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

      
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
      <link href="/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css" />
      <link href="/stylesheets/jquery-ui.css" rel="stylesheet"/>
      <link href="/stylesheets/chosen.css" rel="stylesheet"/>
      <link href="/stylesheets/shop-homepage.css" rel="stylesheet"/>
      <link href="/stylesheets/bootstrap-grid.min.css" rel="stylesheet"/>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
  </head>

  <body>

  	<!--<a href="/categories"> Categories </a>
  	<a href="/products"> Products </a> -->
    
    <%= render '/layouts/nav' %>
    <%= notice %>
  	<%= alert %>
    <%= yield %>
  </body>
</html>
